{% extends 'base.html' %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}


{% block title %}{{ the_day|date }}{% endblock %}

{% block content %}

  <div class="container">
    <div class="pt-3 text-center row">
      {% if user.username %}
        <div class="col-md"><strong>{{ user.username }}</strong>さんのホーム画面</div>{% endif %}
      <div class="col-md">
        {% if consecutive.most_consecutive_day %}
          <span class="badge bg-danger"> ベスト : {{ consecutive.most_consecutive_day }}日継続</span>{% endif %}
        {% if consecutive.current_consecutive_day %}
          <span class="badge bg-primary">現在 : {{ consecutive.current_consecutive_day }}日継続中</span>{% endif %}
      </div>
    </div>
  </div>
  <hr>


  <div class="container">

    <div class="row pt-0 justify-content-center">

      {% if messages %}
        {% for message in messages %}
          {% bootstrap_messages %}
        {% endfor %}
      {% endif %}


      <div class="col-lg-6 col-md-10 col-xl-6 g-5">

        <div class="row justify-content-center my-3">
          <div class="prev col-3"><a href="{% url 'task:day' yesterday.year yesterday.month yesterday.day %}">
            <i class="bi bi-arrow-left-short"></i> 前日</a>
          </div>
          <h5 class="col-6 text-center">{{ the_day|date }}</h5>
          <div class="next col-3 text-end"><a href="{% url 'task:day' tomorrow.year tomorrow.month tomorrow.day %}">
            翌日 <i class="bi bi-arrow-right-short"></i>
          </a></div>
        </div>

        <form method="post" class="form">
          {% csrf_token %}
          <div class="input-group mb-3 p-0">
            {{ form.title|attr:'class:form-control form-control-lg'|attr:'placeholder:タスクを入力' }}
            <input class="btn btn-primary" type="submit" value="追加">
          </div>
        </form>

        <ul class="list-group list-group-flush task-list">
          {% for task in tasks_of_the_day %}
            <li class="list-group-item d-flex justify-content-between task-{{ task.id }}">
              <label for="task-check-{{ task.id }}">
                {% if task.done_at != None %}
                  <input type="checkbox" id="task-check-{{ task.id }}" checked>
                  <span class="done">{{ task.title }}</span>
                {% else %}
                  <input type="checkbox" id="task-check-{{ task.id }}">
                  <span>{{ task.title }}</span>
                {% endif %}
              </label>
              <a href="{% url 'task:delete' task_id=task.id %}" data-task-id="{{ task.id }}" class="delete">
                <i class="bi bi-x-circle-fill" style="color: red"> </i>
              </a>
            </li>
          {% empty %}
            <p class="text-center">
              {% if the_day > today %}
                この日はまだ予定がありません 😌
              {% elif the_day == today %}
                まだ今日はなにもしてませんね 😌
              {% else %}
                この日はなにもしてません 😅
              {% endif %}
            </p>
          {% endfor %}
        </ul>


        <div class="card border-info mb-3 comment">
          {% if comment %}
            <form method="post">
              {% csrf_token %}
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <div class="col"><i class="bi bi-chat"></i> この日のメモ</div>
                  <a class="" id="edit-comment"><span class="badge rounded-pill bg-secondary">編集する</span></a>
                </div>
              </div>

              <div class="card-body comment-normal">
                <p class="card-text">{{ comment|linebreaksbr }}</p>
              </div>

              <div class="card-body comment-edit" style="display: none">
                {{ comment_form.body|attr:'class:form-control comment_form' }}
                <input type="submit" value="メモを変更" class="btn btn-sm btn-primary">
                <a class="btn btn-secondary btn-sm" id="cancel-comment">キャンセル</a>
                <a class="btn btn-danger btn-sm"
                   href="{% url 'task:delete_co' the_day.year the_day.month the_day.day %}">削除</a>
              </div>

            </form>
          {% else %}
            <div class="card-header"><i class="bi bi-chat"></i> この日のメモを残すことが出来ます</div>
            <form method="post" class="m-3">
              {% csrf_token %}
              {{ comment_form.body|attr:'class:form-control comment_form'|attr:'placeholder:例：今日は思ったより読書できた 😃' }}
              <input type="submit" value="メモを記録する" class="btn btn-sm btn-primary">
            </form>
          {% endif %}

        </div>
        <p class="text-end"><a href="{% url 'task:completed' %}">完了済みタスク</a></p>

      </div>


      <div class="col-lg-4 col-md-10 col-xl-4">

        <div class="row justify-content-between my-3 g-5">
          <div class="prev col-3"><a href="{% url 'task:day' month_previous.year month_previous.month the_day.day %}">
            <i class="bi bi-arrow-left-short"></i> 前月</a>
          </div>
          <h5 class="col-6 text-center">{{ month_current | date:"Y年m月" }}</h5>
          <div class="next col-3 text-end"><a href="{% url 'task:day' month_next.year month_next.month the_day.day %}">
            翌月 <i class="bi bi-arrow-right-short"></i>
          </a></div>
        </div>


        <table class="task-calendar">
          <thead>
          <tr>
            {% for w in week_names %}
              {% if w == '土' %}
                <th class="week-sat">{{ w }}</th>
              {% elif w == '日' %}
                <th class="week-sun">{{ w }}</th>
              {% else %}
                <th>{{ w }}</th>
              {% endif %}
            {% endfor %}
          </tr>
          </thead>
          <tbody>
          {% for week_day_tasks in month_day_tasks %}
            <tr>
              {% for day, tasks in week_day_tasks.items %}

                {% if month_current.month != day.month %}
                  <td class="not_current_month">
                    {% elif day == today %}
                  <td class="today">
                    {% elif day == the_day %}
                  <td class="the_day">
                    {% else %}
                  <td>
                {% endif %}


              {#  タスクの存在確認と完了確認分岐  #}
              {% if 'Yet' in tasks or 'Done' in tasks %}<span class="has-task">
                {% if 'Yet' not in tasks %}<i class="bi bi-check-circle-fill"></i>{% endif %}
              {% else %}<span>
              {% endif %}
              {#  コメントの存在確認  #}
              {% if 'Comment' in tasks %}<i class="bi bi-chat-text"></i>{% endif %}
              <a href="{% url 'task:day' day.year day.month day.day %}">{{ day.day }}</a>
              </span>

              </td>
              {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <script>

    // csrf tokenを取得するために使う
    const getCookie = name => {
      if (document.cookie && document.cookie !== '') {
        for (const cookie of document.cookie.split(';')) {
          const [key, value] = cookie.trim().split('=');
          if (key === name) {
            return decodeURIComponent(value);
          }
        }
      }
    };
    const csrftoken = getCookie('csrftoken');

    // --------------------------------------------
    // タスク削除処理
    // --------------------------------------------
    const btns = document.querySelectorAll('.delete')

    for (let i = 0; i < btns.length; i++) {

      btns[i].addEventListener('click', (e) => {
        e.preventDefault()

        const task_id = btns[i].dataset.taskId
        const task_div = document.querySelector(`.task-${task_id}`)

        fetch(btns[i].href, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
            'X-CSRFToken': csrftoken,
          }
        }).then(res => {
          task_div.innerHTML = `タスクは削除されました`
        }).catch(err => {
          console.log(err)
        })
      })
    }

    // --------------------------------------------
    // タスク完了処理
    // --------------------------------------------
    addEventListener('DOMContentLoaded', function () {
      for (let i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].checked) {
          btns[i].style = 'display:none'
        } else {
          btns[i].style = 'display:inline-block'
        }
      }
    })
    const checkboxes = document.querySelectorAll("input[type='checkbox']")
    for (let i = 0; i < checkboxes.length; i++) {

      checkboxes[i].addEventListener('click', function () {

        let task_id = checkboxes[i].getAttribute('id')
        task_id = task_id.split('-')[2]
        const task_title = checkboxes[i].nextElementSibling

        let url = `/done/${task_id}/`

        // チェック済みかどうか
        if (checkboxes[i].checked) {
          url += 'true/'
          task_title.classList.add('done')
          btns[i].style = 'display:none'
        } else {
          url += 'false/'
          task_title.classList.remove('done')
          btns[i].style = 'display:inline-block'
        }

        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
            'X-CSRFToken': csrftoken,
          }
        }).catch(err => {
          console.log(err)
        })
      })
    }

    // --------------------------------------------
    // コメント編集表示切り替え
    // --------------------------------------------
    const editBtn = document.getElementById('edit-comment')
    const cancelBtn = document.getElementById('cancel-comment')
    let commentNormal = document.querySelector('.comment-normal')
    let commentEdit = document.querySelector('.comment-edit')

    let changeDisplay = (el) => {
      if (el.style.display === 'none') {
        el.style.display = 'block'
      } else {
        el.style.display = 'none'
      }
    }

    commentBtns = [editBtn, cancelBtn]

    // ボタンが取得できる時（コメントが存在する時）だけイベント
    if (editBtn) {
      for (let i = 0; i < commentBtns.length; i++) {
        commentBtns[i].addEventListener('click', function () {
          changeDisplay(commentNormal)
          changeDisplay(commentEdit)
        })
      }
    }


  </script>

{% endblock %}