{% extends 'base.html' %}
{% load static %}

{% block title %}今日やったことを記録しよう！{% endblock %}

{% block content %}

  <div class="top-image">
    <h1 class="fw-light">今日やったことを記録しよう！</h1>
        <p class="lead text-muted py-4">DoneListは今日やったことや、今後の予定などを記録するためのカレンダー付きTodoリストです。
          カレンダーにはTodoのある日、完了した日などが表示されるので、タスクを継続的にこなしているか一目瞭然です。</p>
        <p class="buttons">
          <a href="{% url 'signup' %}" class="btn btn-primary btn-lg">ユーザー登録してみる</a>
          <a href="{% url 'login' %}" class="btn btn-secondary m-1">ログイン</a>
        </p>
  </div>

  <hr>

  <div class="container py-5">
  <h4>このウェブサービスについて</h4>

    <p>DoneListをご覧いただき誠にありがとうございます。<br>これは<a href="https://twitter.com/brhk5" target="_blank">kazuo</a>のプログラミング学習の一環として制作されたウェブサイトです。
      <br>どうぞお気軽にお試しくださいませ。🙇🏻</p>
  </div>
{% endblock %}