{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}プロフィール編集{% endblock %}

{% block content %}

  <div class="container mypage">
    <div class="row justify-content-center">
      <div class="col-md-6">

        <form method="post" class="my-5" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form user_form %}
          {% bootstrap_form prof_form %}
          {% bootstrap_button button_type="submit" content="更新する" %}
        </form>

      </div>
    </div>
  </div>

  <script>
    // prop function like jquery
    let prop = function (node, name, value) {
      if (typeof value === 'undefined') {
        return node[name];
      }
      node[name] = value;
    };

    addEventListener('load', () => {
      let el = document.querySelector("input[name='avatar']")

      let avatarUrl = ''

      // nextSiblingがTrue ＝ 画像が設定済みの場合
      if(el.nextSibling) {
        avatarUrl = el.nextSibling.nextSibling.firstElementChild.lastElementChild.getAttribute('href')
        // 画像直リンクURLを非表示に
        el.nextSibling.nextSibling.firstElementChild.style.display = 'none'
      }else {
        avatarUrl = '{% static 'img/avatar.png' %}'
      }

      // input[type='file']の背景に画像表示
      el.style.background = `url(${avatarUrl}) no-repeat center / cover`
      el.style.width = '150px'
      el.style.height = '150px'
      el.style.margin = 'auto'

      // アップロード画像セットでinputの背景も変更
      el.addEventListener('change',function () {
        let upFileName = prop(this, 'files')[0].name
        {# uploadsはモデルで設定した ImageField の upload_to と同じにすること #}
        const upFileUrl =  `{% get_media_prefix %}uploads/${upFileName}`
        el.style.background = `url(${upFileUrl}) no-repeat center / cover`
      })
    })
  </script>
{% endblock %}