{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}マイページ{% endblock %}

{% block content %}

  <div class="container mypage">
    <div class="row justify-content-center">
      <div class="col-md-7">

        {% if messages %}
          {% for message in messages %}
            {% bootstrap_messages %}
          {% endfor %}
        {% endif %}

        <h2 class="my-5">マイページ</h2>

        {% if user.avatar %}
          <img src="{{ user.avatar.url }}" alt="" class="avatar">
        {% else %}
          <img src="{% static 'img/avatar.png' %}" alt="" class="avatar">
        {% endif %}

        <table class="table table-striped">
          <tr>
            <th>ユーザー名</th>
            <td>{% if user.username %}{{ user.username }}{% else %}未設定{% endif %}</td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td>{% if user.email %}{{ user.email }}{% else %}未設定{% endif %}</td>
          </tr>
          <tr>
            <th>URL</th>
            <td>{% if user.profile.website %}{{ user.profile.website }}{% else %}未設定{% endif %}</td>
          </tr>
          <tr>
            <th>自己紹介</th>
            <td>{% if user.profile.bio %}{{ user.profile.bio|linebreaksbr }}{% else %}未設定{% endif %}</td>
          </tr>
          <tr>
            <th>週の始まり</th>
            <td>{% if user.week_status %}日曜始まり{% else %}月曜始まり{% endif %}</td>
          </tr>

        </table>

        <p class="text-center"><a href="{% url 'account:edit' %}" class="btn btn-primary">プロフィールを編集する</a></p>

      </div>
    </div>
  </div>


{% endblock %}