{% load static %}
{% load django_bootstrap5 %}

<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <title>DoneList {% block title %}{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">DoneList</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarText">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">ユーザー登録</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">ログイン</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>



{% block content %}
{% endblock %}

<footer class="footer mt-5 py-3 bg-light">
  <div class="container text-end">
    <span class="text-muted">&copy; {% now 'Y' %} brhk.me</span>
  </div>
</footer>

</body>
</html>